@keyframes show_cart {
    from {
        opacity  : 0;
        transform: translateY(45%);
    }

    to {
        transform: translateY(0%);
        opacity  : 1;
    }
}

@keyframes slider {
    from {
        opacity  : 0;
        transform: scale(.8, .8) ;
    }

    to {
        opacity  : 1;
        transform: scale(1, 1);
    }
}